<section>
    <div class="container-banner">
        <p>Cuidando do seu pet <span>com excelência.</span></p>
    </div>
    <div id="background"></div>
    <div class="container-absolute">
        <div class="container-contact">
            <div class="container-left">
                <p id="first-title">Confiança que Acompanha</p>
                <p id="main-title">Fornecendo<span>Alta Qualidade.</span></p>
                
                <p id="text-contact-left">Trabalhamos com as melhores marcas para<br>garantir segurança, eficacia e bem estar<br>animal. <Span>Confiança e excelência em cada entrega!</Span></p>

                <ul>
                    <li><i class="fas fa-check-circle"></i>Distribuição Confiável</li>
                    <li><i class="fas fa-check-circle"></i>Excelência Garantida</li>
                </ul>

                <a id="button-green"> Contato <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="container-right">
                <div class="image-contact">
                    <img src="/assets/home/home-contact/image-left.webp" width="311px" height="463px">
                    <p>Cuidados Essênciais para seu Pet</p>
                </div>
                <div class="image-contact">
                    <img src="/assets/home/home-contact/image-right.webp" width="311px" height="463px">
                    <p>Saúde <span>Garantida</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
