<section>
    <div class="header-slider">
        <h4>Parcerias que garantem qualidade</h4>
        <h2>Nossos Fornecedores</h2>
        <img src="/assets/home/moustache.webp" width="132px" height="22px">
    </div>
    <div class="swiper">
        <div class="slider-wrapper">
            <div class="container-slider swiper-wrapper">
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor1.webp">
                </div >
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor2.webp">
                </div>
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor3.webp">
                </div>
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor4.webp">
                </div>
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor5.webp">
                </div>
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor6.webp">
                </div>
                <div class="container-image swiper-slide">
                    <img src="/assets/home/home-slider/fornecedor7.webp">
                </div>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div>
</section>
