<header>
    <div class="container-adjustment">
        <h1 class="title">Dicas</h1>
        <div class="container-text-header">
            <a routerLink="/"><i class="fa-solid fa-house"></i> Início</a>
            <p>-</p>
            <p>Dicas</p>
        </div>
    </div>
</header>
<section>
    <div class="main-content">
        <div class="content">
            <div class="container-text">
                <div class="text">
                    <h4>Alimentação é a Primeira <span class="line-broken"> Vacina </span></h4>
                    <p>Uma nutrição adequada previne doenças, fortalece <br>
                        o sistema imunológico e melhora a qualidade de vida.<br>
                        Consulte um veterinário para montar uma dieta <br>
                        balanceada, seja para cães, gatos ou ruminantes como<br>
                        vacas e cabras.</p>
                </div>
            </div>
            <div>
                <img src="/assets/dicas/image1.webp" width="563px" height="437px">
            </div>
        </div>
        <div class="content">            
            <div>
                <img src="/assets/dicas/image2.webp" width="563px" height="437px">
            </div>
            <div class="container-text">
                <div class="text">
                    <h4>Vermifugação e Vacinação: <span class="line-broken"> Nunca Deixe Atrasar </span></h4>
                    <p>Uma nutrição adequada previne doenças, fortalece <br>
                        o sistema imunológico e melhora a qualidade de vida.<br>
                        Consulte um veterinário para montar uma dieta <br>
                        balanceada, seja para cães, gatos ou ruminantes como<br>
                        vacas e cabras.</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-text">
                <div class="text">
                    <h4>Higiene do Ambiente = <span class="line-broken"> Saúde Garantida </span></h4>
                    <p>Uma nutrição adequada previne doenças, fortalece <br>
                        o sistema imunológico e melhora a qualidade de vida.<br>
                        Consulte um veterinário para montar uma dieta <br>
                        balanceada, seja para cães, gatos ou ruminantes como<br>
                        vacas e cabras.</p>
                </div>
            </div>
            <div>
                <img src="/assets/dicas/image3.webp" width="563px" height="437px">
            </div>
        </div>
        <div class="content">            
            <div>
                <img src="/assets/dicas/image4.webp" width="563px" height="437px">
            </div>
            <div class="container-text">
                <div class="text">
                    <h4>Cuide de Cascos e Unhas</h4>
                    <p>Ambientes limpos reduzem infecções e doenças de pele. <br>
                        Para animais de fazenda, mantenha o curral ou estábulo <br>
                        sempre seco e arejado. Em casa, lave regularmente <br>
                        caminhas, brinquedos e comedouros.<br> <span style="font-weight: bold;">Importante: Evite produtos de limpeza tóxicos; <br>
                        muitos são perigosos para os animais..</span></p>
                </div>
            </div>
        </div>
    </div>
</section>