<nav>
    <div class="top-navbar-green">
        <div class="container">
            <div id="container-email">
                <span><i class="fa-solid fa-envelope"></i>disvet&#64;disvet.vet.br</span>
            </div>
            <div id="container-adress">
                <span><i class="fa-solid fa-location-dot"></i>Av. João Paulo II, 2150 - Centro Araxá - MG</span>
                <span><i class="fa-solid fa-phone"></i>(34) 3664-7440</span>
            </div>
            <div id="icons-navbar">
                <a><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/distribuidora_disvet/"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="top-navbar-white">
        <div class="container">
            <div class="container-logo">
                <a routerLink="/" class="logo-top">DISVET<span>&copy;</span></a>
                <a routerLink="/" class="logo-bottom">Distribuidora Veterinária</a>
            </div>
            <div class="container-links">
                <a routerLink="/" class="buttons-navbar">Início</a>
                <a routerLink="/sobre" class="buttons-navbar">Sobre</a>
                <a routerLink="/dicas" class="buttons-navbar">Dicas</a>
                <a routerLink="/Diferenciais" class="buttons-navbar">Diferenciais</a>
                <a routerLink="/galeria" class="buttons-navbar">Galeria</a>
                <a routerLink="/catalogo" class="buttons-navbar">Catálogo</a>
                <a routerLink="/contato" class="buttons-navbar">Contato</a>
            </div>
            <div class="container-buttons">
                <div>
                    <a routerLink=""><img src="/assets/navbar/sacola.png" width="27px" height="27px"></a>
                </div>
                <div class="button-circle">
                    <a><img src="/assets/navbar/arrow-left.png" width="19px" height="9px"></a>
                </div>
            </div>
        </div>
    </div>
</nav>