<section>
    <div class="header">
        <h5>Faça parte da nossa equipe!</h5>
        <h1>Trabalhe Conosco</h1>
        <img src="/assets/home/moustache.webp" width="111px" height="20px">
    </div>
    <div class="container">
        <div class="image-work">
            <img src="/assets/home/home-work-us/mans-work.webp" width="433px" height="433px">
        </div>
        <div class="text-work">
            <h2>DISVET</h2>
            <p id="text">Quer trabalhar conosco e fazer parte<br>
                da nossa equipe? Envie o seu currículo<br>
                para nosso e-mail e entraremos em contato!<br>
            </p>
            <div class="container-email">
                <p><i class="fa-regular fa-envelope"></i>disvet&#64;disvet.vet.br</p>
            </div>
            
        </div>
    </div>
</section>