<section>
    <div class="header-services">
        <p id="first-title">Nossas linhas</p>
        <p id="second-title">Serviços que oferecemos</p>
        <img src="/assets/home/moustache.webp" width="111px" height="20px">
    </div>
    <div>
        <div class="container-flex">
            <div class="container-services">
                <img class="image-main" src="/assets/home/home-services/vacas-service.webp">
                <div class="image-icon">
                    <img src="/assets/home/home-services/vaca-icon.webp" width="35px" height="35px">
                </div>
                <p>Linha <span>Bolvino</span></p>
            </div>
            <div class="container-services">
                <img class="image-main" src="/assets/home/home-services/cavalo-service.webp">
                <div class="image-icon">
                    <img src="/assets/home/home-services/cavalo-icon.webp" width="35px" height="35px">
                </div>
                <P>Linha <span>Equino</span></P>
            </div>
            <div class="container-services">
                <img class="image-main" src="/assets/home/home-services/suino-service.webp">
                <div class="image-icon">
                    <img src="/assets/home/home-services/suino-icon.webp" width="35px" height="35px">
               </div>
                <p>Linha <span>Suino</span></p>
            </div>
            <div class="container-services">
                <img class="image-main" src="/assets/home/home-services/pet-service.webp">
                <div class="image-icon">             
                    <img src="/assets/home/home-services/pet-icon.webp" width="35px" height="35px">
                </div>
                <p>Linha <span>Pet</span></p>
            </div>
            <div class="container-services">
                <img class="image-main" src="/assets/home/home-services/ave-service.webp">
                <div class="image-icon">
                    <img src="/assets/home/home-services/ave-icon.webp" width="35px" height="35px">
                </div>
                <p>Linha <span>Ave</span></p>
            </div>
        </div>
    </div>
</section>