<footer>
    <div class="container-flex">
        <div class="main">
            <div class="container-logo">
                <a routerLink="/" class="logo-top">DISVET<span>&copy;</span></a>
                <a routerLink="/" class="logo-bottom">Distribuidora Veterinária</a>
            </div>
            <p id="text-footer">A excelência está em cada etapa, <br>
                assegurando o melhor para o <br>
                seu negócio e os animais.</p>

            <div class="container-social">
                <p>Redes Sociais</p>
                <div class="icons-social">
                    <a>
                        <div class="box-social">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/distribuidora_disvet/">
                        <div class="box-social">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-mid">
            <div class="container-title">
                <h2 id="title-service">SERVIÇOS</h2>
            </div>
            <ul>
                <li><i class="fa-regular fa-circle-check"></i>Bolvino</li>
                <li><i class="fa-regular fa-circle-check"></i>Equino</li>
                <li><i class="fa-regular fa-circle-check"></i>Suino</li>
                <li><i class="fa-regular fa-circle-check"></i>Pets</li>
                <li><i class="fa-regular fa-circle-check"></i>Aves</li>
            </ul>
        </div>
        <div class="container-mid container-gap">
            <div class="container-title">
                <h2>PÁGINAS</h2>
            </div>
            <ul>
                <li><i class="fa-regular fa-circle-check"></i>Início</li>
                <li><i class="fa-regular fa-circle-check"></i>Catálogo</li>
                <li><i class="fa-regular fa-circle-check"></i>Representantes</li>
                <li><i class="fa-regular fa-circle-check"></i>Galeria</li>
                <li><i class="fa-regular fa-circle-check"></i>Dicas</li>
                <li><i class="fa-regular fa-circle-check"></i>Contato</li>
            </ul>
        </div>
        <img src="/assets/footer/image-footer.webp" width="276px" height="422px">
    </div>
    <div class="container-copy">
        <p>© Copyright 2025 by Raphael Bernardinelli e Icaro Ricardo</p>
    </div>
</footer>