<section>
    <div class="container-absolute">
        <div class="container-about">
            <div class="city-image">
                <img src="/assets/home/home-about/cidade.webp" alt="cidade da empresa vista do alto" width="518px" height="678px">
                <div class="box-green">
                    <p><span>26</span> Anos de Experiência</p>
                </div>
            </div>
            <div class="about-content">
                <p id="about-slogan">Qualidade que protege, confiança em cada produto.</p>
                <p id="about-title">O cuidado que faz a diferença!</p>
                <p id="main-about">Na Disvet, acreditamos que cada vida merece o melhor cuidado. 
                    <span>Com produtos de alta qualidade e distribuição confiável, garantimos a</span> 
                    saúde e o bem-estar animal.</p>
                
                <div class="list-about">
                    <img src="/assets/home/home-about/vacas.webp" width="152px" height="177px">
                    <ul>
                        <li><i class="fas fa-check-circle"></i>Melhor qualidade</li>
                        <li><i class="fas fa-check-circle"></i>Produtos saudáveis</li>
                        <li><i class="fas fa-check-circle"></i>Serviços inteligentes</li>
                    </ul> 
                </div>
                <div class="button-about">
                    <a>Catálogo <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>