<section>
    <div class="container">
        <h5>Um pouco sobre nós</h5>
        <h1>Agende uma visita e<br> 
            conheça a qualidade Disvet!</h1>
        <p>Entre em contato conosco e agende uma visita com um de nossos representantes<br>
            para conhecer de perto a qualidade e a variedade dos nossos produtos. Na Disvet<br>
            trabalhamos com compromisso e excelência para oferecer as melhores soluções em <br>
            medicamentos veterinários. <span>Estamos prontos para atender você e garantir o melhor <br>
            para a saúde animal!</span></p>
        
        <div class="container-button">
            <a routerLink="/contato">Contato <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</section>