<div class="container-banner">
    <div class="container-flex">
        <div class="title">
            <p>Bem-vindo(a) a <span>Disvet</span></p>
        </div>
        <div class="sub-title">
            <p>Cuidando da saúde animal<span>com confiança e qualidade!</span></p>
        </div>
        <div class="container-box">
            <div class="box-green">
                <a>Suporte</a>
            </div>
            <div class="box-yellow">
                <a>Agendar</a>
            </div>
        </div>
    </div>
</div>