<section>
    <div class="container-history">
        <div class="images-history">
            <img id="image-absolute" src="/assets/home/home-about-history/smaller-image.webp" width="354.09px" height="391.22px">
            <img id="image-behind" src="/assets/home/home-about-history/bigger-image.webp" width="441px" height="556px">
        </div>
    </div>
    <div class="text-history">
        <p id="first-title">Um pouco sobre nós</p>
        <p id="second-title">Qualidade em cada entrega</p>
        <p id="text-about">A Disvet Araxá é uma distribuidora consolidada no mercado de<br>
            medicamentos veterinários, com anos de experiência e presença <br>
            em diversos estados do Brasil. Contamos com uma equipe de representantes <br>
            comerciais qualificados, prontos para levar até você o que há de melhor na <br>
            indústria farmacêutica veterinária. Além disso, nossa equipe administrativa <br>
            altamente capacitada acompanha todo o processo, garantindo a eficiência e a <br>
            pontualidade, desde o seu pedido até a entrega final. Na Disvet, a excelência está <br>
            em cada etapa, assegurando o melhor para o seu negócio e os animais.</p>
    </div>
</section>  