<section>
    <div class="header">
        <h5>Dicas Práticas</h5>
        <h2>Cuide bem do seu animal!</h2>
        <img src="/assets/home/moustache.webp" width="110px"  height="20px">
    </div>
    <div class="container-main">
        <div class="container-flex">
            <div class="container-text">
                <h2>Administração Correta</h2>
                <p>Sempre siga a recomendação do veterinário ao <br>
                medicar seu pet. Dosagens erradas podem comprometer <br> 
                a eficácia do tratamento e a saúde do animal.
                </p>
            </div>
                <img src="/assets/home/home-blog/image1-blog.webp" width="563px" height="437px">
        </div>
        <div class="container-flex">
            <img src="/assets/home/home-blog/image2-blog.webp" width="563px" height="437px">
            <div class="container-text">
                <h2>Armazenamento Seguro</h2>
                <p>Guarde os medicamentos em local seco, fresco e longe <br>
                    do alcance dos pets. O uso inadequado pode ser perigoso <br>
                    e até fatal para o seu animal.</p>
            </div>
        </div>
    </div>
</section>
